*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   min-height:100vh;
   width: 100%;
   background-color:teal ;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding:2% ;
   display: flex;
   gap: 20px;


}

.heading{
    text-align: center;
}


div {
    height: 10vh;
    width: 15%;
    background-color:rgb(2, 38, 2) ;
    margin-top: 10px;
}

