* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heroBg: #057acb;
  --headerBg : #FFFFFF14;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7092px;
  opacity: 1;
  background-color: rgb(247, 151, 151);
}

main {
  width: 100%;
  height: 7092px;
  display: flex;
  flex-direction: column;
}

#hero {
  width: 100%;
  height: 891px;
  opacity: 1;
  background-color: var(--heroBg);
  padding: 0 3.7rem;
  
}

#hero header{
width: 85%;
height: 69.08px;
justify-content: space-between;
opacity: 1;
top: 20px;
border-radius: 40px;
border-width: 1px;
padding: 10px 16px;
background-color:var(--headerBg) ;
border: 1px solid var(--headerBg);
position: fixed;
}
