*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: var(--dancingScript); */

}


:root {
 --greenText:blue;
 --Nunito: 'Nunito';
 --dancingScript:"Dancing Script", cursive;
}

body {
    min-height: 100vh;
    width: 100%;
    
   
}

header {
    /* background-color: rgb(245, 239, 230); */
    background-color: aqua;
   
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3rem ;
    position:fixed;
   
 


}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 25px;
    width: 25px;
}

.logo h1{
    font-family: "Dancing Script", cursive;
    font-size:1.5rem ;
    color: var(--greenText)
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--greenText);
    font-size: 0.7rem;
    font-family:"Inter", sans-serif;
    font-weight:500 ;
}

/* nav ul li a:hover{
    color: red;
    background-color:white ;
} */

header button {
    border: none;
    height: 25px;
    width: 90px;
    background-color:var(--greenText);
    border-radius: 10px;
    
}

header button a {
    color: white;
    text-decoration: none;
    font-family: 'Inter';
    font-size: 0.6rem;
    
}

#hero{
    height: 85vh;
    width: 100%;
   background-color: rgb(245, 239, 230);
   display: flex;
   gap: 5px;
}

#hero div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  gap: 0.6rem;



}

#hero div h2{
  font-family: 'Nunito';
  line-height: 98%;
}

#hero div h2 span{
    color:var(--greenText);
}

#hero div p {
    font-family: var(--Nunito);
    font-size:1.2rem ;
}

#hero div button{
    border: none;
    height: 30px;
    width: 120px;
    background-color:var(--greenText);
    color: white;
    font-family:'Inter' ;
    font-size: 0.6rem;
    border-radius: 20px;
}

#hero div img{
    height: 100%;
    max-width: 100%;
}



/* #hero div:first-child{
    background-color: red;
}

#hero div ul li:last-child{
    color: green;
    font-size: 3rem;
}

#hero div ul li:nth-child(1){
   color: yellow;
   font-size:2rem ;
   background-color: blue;
} */











 footer{
    height: 40vh;
    width: 100%;
    background-color: yellow;
    position: relative;
    
} 

footer p {
    position: absolute;
    right: 20px;
    top: 30px;
}


 




